{% extends 'LigiBundle::layout.html.twig' %}

{% block title %}{% trans %}Item list{% endtrans %}{% endblock title %}

{% block body -%}
  <h1 class="ui dividing header">{% trans %}Item list{% endtrans %}</h1>

  <div class="ui cards">
    {% for entity in entities %}
      <div class="card">
        <div class="image">
          <a class="ui fluid image" href="{{ path('ligi_item_show', { 'id': entity.id }) }}">
            <img src="/images/avatar2/large/matthew.png" />
          </a>
        </div>
        <div class="content">
          <div class="header">
            <a href="{{ path('ligi_item_show', { 'id': entity.id }) }}">
              {{ entity.name }}
            </a>
          </div>
          <div class="description">
            {{ entity.description }}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  

{% endblock %}
